body {
  background-color: #e0ded5;
}

hr {
  border-style: none;
  border-top-style: dotted;
  width: 10%;
  border-color: grey;
  border-width: 3px

}
h1 {
  color: green;

}
h2 {
  color: #be3950;
}
h3 {
  color: blue;
}
